<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak="true">
    <div class="container" ng-controller="FilterCtrl as ctrl">
        <hr/>
        <label>Name: </label><input type="text" ng-model="ctrl.search"> {{ctrl.today | date:"MM/dd/yyyy 'at' h:mma"}}
        <hr/>
        <table class="table" border=1>
            <tr>
                <th scope="col">
                    Id <button ng-click="ctrl.sortBy('id')" class="fa fa-sort-alpha-asc"> Sort by Id</button>
                </th>
                <th scope="col">
                    Name <button ng-click="ctrl.sortBy('name')" class="fa fa-sort-alpha-asc"> Sort by Name</button>
                </th>
                <th scope="col">
                    Age <button ng-click="ctrl.sortBy('age')" class="fa fa-sort-alpha-asc"> Sort by age</button>
                </th>
            </tr>
           
            <tr ng-repeat="item in ctrl.items | filter: ctrl.search | orderBy: ctrl.propertyName: ctrl.reverse">
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.age}}
                </td>
            </tr>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- <script src="/js/app.js"></script> -->
    <!-- refactor app.js to app.module.js and app.controller.js -->
    <script src="/app/app.module.js"></script>
    <script src="/app/filter.controller.js"></script>
    
</body>

</html>